* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-image: linear-gradient(to right, #A9D9D0, #027373);
}

/*DIV principal*/
.calculadora {
    height: 570px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #027373;
    border-radius: 10px;
    box-shadow:5px 5px 0px #a9d9d02a;  
    overflow: hidden;
}

/*Título*/
h1 {
    padding: 10px;
    border-bottom: solid 1px;
    border-bottom-style: dashed;
    text-align: center;
    color: #F2E7DC;
}

.displyTexInput {
    display: flex;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    
}

/*Parágrafos*/
.textImput {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    border: 0;
    margin: 5px;
    padding: 5px;
    
}

/*Informações necessárias para o cálculo*/
input {
    border-radius: 5px;
    border: solid 0px;
    outline: none;
    height: 30px;
    width: 110px; 
    padding: 10px;
    margin-left: 10px;  
    
}

/*Botões*/
#button {
    width: 500px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;

}
button {
    height: 30px;
    width: 110px;
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 0px;
    outline: none;
    font-weight: bold;
}

button:hover {
    background-color: #F2E7DC;
    opacity: 0.8;
}

#btnLimpar {
    align-items: flex-end;
}

/*Imagens de inlustração*/
#dados_res {
    height: 290px;
    width: 500px;
    background-color: #a9d9d02c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;

}

/*DIV das Imagens*/
#img {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Imagens de inlustração*/
#imagem {
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.192);
}

/*Resultado do cálulo*/
#resultado { 
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: white;
    
}

#res {
   width: 100px;
   height: 30px;
   background-color: #F2E7DC;
   border-radius: 5px;
   margin-left: 10px;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 20px;

}
/*FIM DO STYLE*/

/*INÍCIO DO RESPONSIVO*/

@media (max-width: 700px) {

    
    .calculadora {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    .textImput {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.8em;
        
    }

    input {
        display: flex;
        text-align: center;
        width: 200px;
        height: 40px;
        font-size: 1.2em;
        margin: auto;
        
    }

    #button {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }

    .linha {
        
        margin-top: 20px;
        border-top-style: dashed;
        border-color: #F2E7DC;
        border-width: 1px;
    }

    button {
        width: 200px;
        height: 40px;
        font-size: 1.5em;

    }

    #dados_res {
        display: flex;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #resultado {
        width: 100%;
        justify-content: space-evenly;
    }

    #textResult {
        font-size: 1.7em;
        font-weight: bold;
    }

    #res {
        width: 150px;
        height: 40px;
        font-size: 1.7em;
    }

}
